<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="login-page">
      <div class="container">
        <div class="h1-parent">
          <h1>Login</h1>
        </div>
        <div class="username-parent">
          <input
            type="text"
            id="useername"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="password-parent">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="btn-parent">
          <button type="button">LOG IN</button>
        </div>
      </div>
    </div>
  </body>
</html>
